node_modules
vendor
logs
conf
app/*
!app/wp-content/themes
!app/wp-config.php
app/wp-content/debug.log
app/wp-content/upgrade
.idea/copilot*

# Paid plugins
app/wp-content/plugins/advanced-custom-fields-pro

# Symlinked plugins
